site_name: immich-py
site_description: Unofficial HTTP client and CLI for Immich written in Python
site_author: Timon Rieger
copyright: Copyright &copy; 2026 Timon Rieger

docs_dir: docs
repo_url: https://github.com/timonrieger/immich-py
repo_name: timonrieger/immich-py
edit_uri: edit/main/docs

extra_css:
  - css/custom.css
  - css/termynal.css

extra_javascript:
  - js/termynal.js
  - js/custom.js

theme:
  name: material
  language: en
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.footnote.tooltips
    - content.tabs.link
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.path
    - navigation.sections
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - toc.follow
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/lightbulb-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/lightbulb-outline
        name: Switch to system preference
  font:
    text: Google Sans
    code: Google Sans Code
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/timonrieger/immich-py
      name: View on GitHub
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/immich
      name: View on PyPI

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths:
            - immich
          options:
            docstring_style: google
            allow_inspection: false
            show_if_no_docstring: false
            show_signature_annotations: true
            show_root_full_path: false
            merge_init_into_class: true
            show_signature_return_annotation: true
          inventories:
            - https://docs.python.org/3/objects.inv
  - termynal:
      prompt_literal_start:
        - "$"
        - ">"
  - awesome-nav

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed
