name: Test and Coverage

on: [pull_request]

permissions:
  contents: write
  checks: write
  pull-requests: write

jobs:
  ci:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - name: Check-out repository
        uses: actions/checkout@v6

      - name: Install uv + Python ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.21"
          python-version: ${{ matrix.python-version }}

      - name: Install the project
        run: uv sync --locked --dev

      - name: Test with pytest
        run: uv run pytest tests/ --cov=immich --cov-branch --cov-report=xml --cov-report=term-missing:skip-covered

      - name: Pytest coverage comment
        if: ${{ matrix.python-version == '3.14' }}
        uses: MishaKav/pytest-coverage-comment@main
        with:
          title: Coverage Report ${{ matrix.python-version }}
          pytest-xml-coverage-path: ./coverage.xml
          report-only-changed-files: true
          hide-report: true
